<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Webui.html</welcome-file>
  </welcome-file-list>
  
   <!-- Spring context configuration path -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:web-context.xml</param-value>
    </context-param>

    <!-- Spring ContextLoaderListener -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
      
  <servlet>
    <servlet-name>signalingServlet</servlet-name>
    <servlet-class>by.bsu.onewire.webui.server.SignalingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>signalingServlet</servlet-name>
    <url-pattern>/webui/signaling</url-pattern>
  </servlet-mapping>

</web-app>
